body
{
    font-family: Helvetica, Verdana, Sans-Serif;
    margin: 0;
    padding: 0;
    background: #F2FFBF;
    color: #B35A00;
}

a, a:link, a:visited
{
    text-decoration: none;
    color: #8FB300;
}

a:hover, a:active
{
    text-decoration: underline;
    background: #CCFF00;
}

#header
{
    text-align: center;
    background: #000;
}

#add_poem_link, #account_links
{
    padding: 0 1em;
}

#content { margin: 1em; }

#workingheader
{
    margin: 1em;
}

#workingheader label
{
    font-family: Georgia, serif;
    color: #00487D;
}

#workingheader #order_selector
{
    padding: 0.4em 1em;
    background: #80C9FF;
}

#workingheader #tag_selector
{
    padding: 0.4em 1em;
    background: #BFE4FF;
}

.highlight { color: #aaa; }

#workingheader #theme_selector
{
    padding: 0.4em 1em;
    background: #0066B3;
}

.poem
{
    border: 1px solid #FFC080;
    margin: 1em 1em 2em 1em;
    padding: 1em;
}

.poem h3
{
    font-family: Georgia, serif;
    color: #FF8000;
    font-size: 0.8em;
}

.poem .content
{
    line-height: 1.4em;
}

.poem .endline
{
    font-family: Georgia, serif;
    color: #999;
    font-size: 1.8em;
    text-align: center;
}

.poem .content, .poem h3, .poem .endline
{
    padding: 0 0 0 260px;
}

.meta
{
    color: #B35A00;
    float: left;
    width: 250px;
    font-size: 80%;
}

.clearall { clear: both; }

 .pagination {
    font-family: Helvetica, Verdana, Sans-Serif;
    font-size: 0.7em;
    padding: 3px;
    margin: 0.4em 1em;

  }
  .pagination a {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #FFBBFF;
    text-decoration: none;
    color: #990099;
  }
  .pagination a:hover, .pagination a:active {
    border: 1px solid #990099;
    color: #000;
  }
  .pagination span.current {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #990099;
    font-weight: bold;
    background-color: #990099;
    color: #FFF;
  }
  .pagination span.disabled {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    border: 1px solid #FFBFFF;
    color: #FFBFFF;
  }