<% for column in Poem.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @poem.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @poem %> |
<%= link_to 'Back', :action => 'list' %>
